
body{

  /* background-color: #D0D3D4; */
  background-color: #99ff33;
  padding: 30px;
  background-size: 600px;

}
.profile{
  font-family: sans-serif;
  padding: 30px;

}

.profile h2 {
  float: left;
  margin-right: 2em;
  color: green;
}
#pic{
  border-radius: 30%
}

.clearfix:before, .clearfix:after{
  content:"";
  display: table;
  clear: both;
}

.city{
  font-family: sans-serif;
  padding: 30px;
  text-align: left;

}
h3{
color: green;
}
h1{
  color: red;
}

.city img{
  float:left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 2em;

}
.container{
  height:auto;
  width: inherit;
}

.table{

  font-family: cursive;
  padding: 10px;
  text-align: left;
}
  table {
    border-collapse: collapse;
}
h2{
  color: red;
}

table, td, th {
    border: 1px solid black;

}

.historical{
  font-family: cursive;
  padding: 10px;
}
h2{
  color: yellow;
}
h3{
  color: green;
}

.historical img{
  margin-top:1.5em;
  margin-bottom: 1.5em;
  margin-right: 3em;
  border-radius: 30%

}
.place{
  float:left;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-right: 2em;
